<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} — {{ .Site.Title }}{{ end }}</title>
{{ with or .Description .Summary .Site.Params.description }}
	<meta name="description" content="{{ . | plainify | truncate 160 }}">
{{ end }}

<link rel="preload" as="font" type="font/woff2" href="{{ "fonts/inter-var-latin.woff2" | relURL }}" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="{{ "fonts/archivo-var-latin.woff2" | relURL }}" crossorigin>

{{ $css := resources.Get "css/mitssl.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">

{{ with .OutputFormats.Get "rss" }}
	<link rel="alternate" type="application/rss+xml" href="{{ .RelPermalink }}" title="{{ $.Site.Title }}">
{{ end }}
